<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro producto</title>
</head>
<body>
    <section class="form-register">
        <h4> <strong>Registro de Producto/Servicio</strong></h4>
        <h3><strong>Nombre:</strong></h3>
        <input class="controls" type="text" name="nombrePod" id="prductname" placeholder="Ingrese el nombre de su producto o el servicio a ofrecer">
        <h3><strong>Descripción:</strong></h3>
        <input class="controls" type="text" name="descripcion" id="descripcion" placeholder="Ingrese la descripción de su producto o servicio">
        <h3><strong>Rango:</strong></h3>
        <input class="controls" type="text" name="Precio" id="Rango_recio" placeholder="Ingrese el precio del producto o el rango de precios">
        <p>Verifique que sus datos sean correctos antes de registrar su producto</p>
        <input class="botons" type="submit" value="Registrar producto" id="registrarBtn">
    </section>    
</body>
</html>
