
.body{
    height: 100%;
    background-color: rgb(255,166,5);
background: linear-gradient(circle, rgba(255,166,5,1) 67%, rgba(210,109,37,1) 100%);
display: grid;
grid-template-columns: 50% auto ;
}




.sidebar{
    height:100%;
    width:0px;
    background-color:rgb(78, 76, 76);
    position:absolute;
    z-index:1;
    overflow:auto;
    display: flex;
    flex-direction: column;
    transition: width .5s;
}
hr{
    color: gray;
}
.sidebarHead{
    display: grid  ;
    grid-template-columns: 80% auto;
    height: 50px;
    
}
.sidebarBody{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.sidebarItem{
    padding: 10px;
    height: 50px;
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-content: center;
    font-size: large;
}
.sidebarItem:hover{
    background-color: rgb(68, 68, 68);
}
#map{
    border-radius: 10px;
}
#header{
    background: rgb(78, 76, 76);
    display: flex;
    flex-flow: row;
    justify-items: flex-start;
    justify-content: space-evenly;
}
#sidebarButton, .sidebarButton{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    align-self: center;
}
.closeSideButton{
    background: none;
    border: none;
    color: aliceblue;
    text-align: center;
    align-self: center;
}

#buscador{
    margin: 1em 3em 1em 3em;
    
    width: 80%;
    height: 3em;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
}
#buscador::placeholder{
    text-align: center  ;
}
#buscador::target-text{
    text-align: center;
}
.titulo{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: 15px;
    text-align: center;
    font-weight: lighter    ;
}
