<div class="body">
    <div class="sidebar" #sidebar >
        <div class="sidebarHead">
            <span class="sidebarButton">MEXCOM</span>
            <button class="closeSideButton" (click)="hideSidebar()">X</button>
        </div>
        <hr>
        <div class="sidebarBody">
            <div class="sidebarOptions">
                <a href="/Login" class="sidebarItem">¡Inicia sesion como vendedor!</a>
            </div>
        </div>
      </div>
    <div class="content">
        <div id="header">
        <button id="sidebarButton" (click)="showSidebar()">☰</button>
        <input id="buscador" type="text" placeholder="¿Que deseas buscar?">
        </div>
        <div class="titulo">
            Selecciona una zona para iniciar tu busqueda!
        </div>
        <div class="cards" id="1" hidden>
            <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor1.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Alfonso</h2>
                  <p class="card-text">Tacos de canasta, gorditas, etc...</p>
                  <a href="/vendedor" class="btn btn-primary">Ir a perfil </a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor2.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Carlos</h2>
                  <p class="card-text">Tortas de tamal, atole y café</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor2.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Carlos</h2>
                  <p class="card-text">Tortas de tamal, atole y café</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
        </div>
        <div class="cards" id="2" hidden>
            <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor1.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Alfonso</h2>
                  <p class="card-text">Tacos de canasta, gorditas, etc...</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor2.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Carlos</h2>
                  <p class="card-text">Tortas de tamal, atole y café</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>

        </div>
        <div class="cards" id="3" hidden>
            <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor3.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Alfonso</h2>
                  <p class="card-text">Tacos de canasta, gorditas, etc...</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/guisado.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Carlos</h2>
                  <p class="card-text">Tortas de tamal, atole y café</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
        </div>
        <div class="cards" id="4" hidden>
            <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/tacos.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Alfonso</h2>
                  <p class="card-text">Tacos de canasta, gorditas, etc...</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/pambazo.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Carlos</h2>
                  <p class="card-text">Tortas de tamal, atole y café</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
        </div>
        <div class="cards" id="5" hidden>
            <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor1.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Alfonso</h2>
                  <p class="card-text">Tacos de canasta, gorditas, etc...</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="frame" style="background-image:url('assets/señor2.jpg')"></div>
                <div class="card-body">
                  <h2 class="card-title">Carlos</h2>
                  <p class="card-text">Tortas de tamal, atole y café</p>
                  <button href="/vendedor" class="btn btn-primary">Ir a perfil </button>
                </div>
              </div>
        </div>
</div>
<div id="map" #map style="width:100%;height:100%"></div>

</div>