<div class="body">
    <div class="sidebar" #sidebar >
        <div class="sidebarHead">
            <span class="sidebarButton">MEXCOM</span>
            <button class="closeSideButton" (click)="hideSidebar()">X</button>
        </div>
        <hr>
        <div class="sidebarBody">
            <div class="sidebarOptions">
                <a href="#" class="sidebarItem">Link 1</a>
                <a href="#" class="sidebarItem">Link 2</a>
                <a href="#" class="sidebarItem">Link 3</a>
            </div>
            <div id="logOut">
                <a href="#" class="sidebarItem">Link 4</a>
            </div>
        </div>
      </div>
    <div class="content">
        <div id="header">
        <button id="sidebarButton" (click)="showSidebar()">☰</button>
        <input id="buscador" type="text" placeholder="¿Que deseas buscar?">
        </div>
        <div class="titulo">
            Vendedores en la zona
        </div>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
</div>
<div id="map" #map style="width:100%;height:100%"></div>

</div>