<form [formGroup]="form" class="registration-form align-items-center" fxLayout="column" (ngSubmit)="register($event)">
      <input placeholder="Foto de ofertador" type="file" formControlName="foto">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre de usuario" type="text" formControlName="nombre" name="nombre"#nombre>
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="checkRequiredError('nombre')">
        Nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput placeholder="Apellido Paterno" type="text" formControlName="ApPat" name="ApPat" #apPat>
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="checkRequiredError('ApPat')">
        El apellido paterno es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellido Materno</mat-label>
      <input matInput placeholder="Apellido Materno" type="text" formControlName="ApMat" #apMat>
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="checkRequiredError('ApMat')">
        El apellido materno" es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Type your email" type="email" formControlName="email"name="email" #email>
      <mat-icon matPrefix>mail_outline</mat-icon>
      <mat-error *ngIf="form && checkRequiredError('email') && !checkRequiredError('email')">
        Porfavor ingresa un email valido.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Type your password" type="password" formControlName="password" name="password" #password>
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="checkRequiredError('password')">
        Contraseña es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm your password" type="password" formControlName="confirmPassword" name="confirmPassword">
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="checkPasswordMismatchError()">
        Las contraseñas no coinciden.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="Numero telefonico" type="number" formControlName="celphone" name="celphone" #celphone>
      <mat-icon matPrefix>lock_outline</mat-icon>
      <mat-error *ngIf="checkRequiredError('celphone')">
        Numero de telefono es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="register-button mt-3" >Resgistrar</button>
  </form>
